body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 28px;
}

/* close button */
i {
    position: absolute;
    right: 5%;
    top: 5%;
}

h1 {
    font-weight: 300;
    font-size: 36px;
    margin: 0 150px;
    border-bottom: 3px solid #1252AE;
}

em {
    color: #1252AE;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
}

div {
    margin: auto;
    width: 50%;
    border-radius: 73px;
}

#competition {
    margin-top: 99px;
    border: 1px solid #707070;
    /* fot text in the div */
    text-align: center;
}

#content {
    width: 100%;
}

#content img {
    width: 60px;
    padding-right: 20px;
}

#content p {
    padding: 133px 68px 219px;
}

.btns {
    margin-top: 12px;
    /* fot text in the div */
    text-align: center;
}

button {
    width: 280px;
    margin: 30px 80px;
    background-color: #FFCE46;
    color: white;
    border-radius: 37px;
    padding: 21px 65px;
    font-size: 23px;
    /* remove button border */
    border: none;
    /* when mouse hover the button, cursor will be changed to pointer */
    cursor: pointer;

}

button:first-child {
    background-color: #273A5E;
}