body{
    background-color: #FAFBFB;
    text-align: center;
}

h2 {
  font-family: 'Geneva', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #344F69;
}

a {
  font-family: 'poppin', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  color: #344F69;
  text-decoration: none;
}

.qs-container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.pop-btn {
  cursor: pointer;
  width: 60%;
  border-radius: 12px;
  display: inline-block;
  font-size: 1.6em;
  padding: 0.5em;
  margin-bottom: 25px;
  border: 2px solid #555555;
  background-color: white;
}

.pop-btn:hover {
  transition-duration: 0.2s;
  background-color: #FFCE46;
}
