body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#filter {
    padding-left: 30px;
}

#filter label {
    /* let the margin work using inline-block */
    display: inline-block;
    margin: 12px 5px 12px 0px;
}

.overlay {
  position: absolute;
  top: 90px;
  left: 140px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 37px;
}

#panel {
    padding: 20px 20px;
}

#panel {
    text-align: center;
}

button {
    cursor: pointer;
    width: 80px;
    padding: 5px;
    margin: 0 30px;
    border: none;
    border-radius: 37px;
    background-color: #FFCE46;

}

button:hover {
    opacity: 0.6;
}