*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none
}
ul{
	list-style: none
}
body{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
}
.content{
	width:80%;
	margin:0 auto;
	overflow: hidden;
	padding:20px 0px;
}
.left{
	width:49%;
	float:left;
	padding-top:100px;
}
.left img{
	margin-top:80px;
}
.right{
	width:49%;
	float:right;
	padding-top:100px;
}
h1{
	margin:40px 0px;
	text-align: center;
	font-size:50px;
	letter-spacing: 2px
}
h1 span{
	color:rgb(255,218,26);
}
.select{
	width:96%;
	padding:20px 0px;
	border-radius:10px;
	margin:20px 2%;
	font-size:30px;
	color:#666;
	text-indent:30px;
}
.set{
	color:#666;
	font-size:20px;
	margin:20px 0px;
}
.speed{
	margin:20px 20px;
	font-size:30px;
	color:#666;
}
.speed select{
	border-radius:25px;
	color:#666;
	text-align: center;
	padding:15px 20px;
	margin-left:50px;
	font-size:20px;
}
.list computer{
	width:18%;
	float:left;
	margin:20px 1%;
}
.btn a{
	width:30%;
	margin:20px 9%;
	float:left;
	border-radius:10px;
	text-align: center;
	padding:20px 0px;
	font-size:20px;
}
.btn a.add{
	background: rgb(255,218,26);
	color:#fff;
}
.btn a.Cansel{
	background:#fff;
	border:1px solid #666;
	color:#666;
}