*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none
}
ul{
	list-style: none
}

.content{
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 0px;
	background-color: #fff;
}
.left{
	width: 39%;
	float: left;
	padding-top: 13px;
}
.right{
	width: 50%;
	float: right;
	padding-top: 13px;
}
h1{
	margin: 35px 0px;
	text-align: left;
	font-size: 40px;
	letter-spacing: 2px;
}
h1 span{
	color:rgb(255,218,26);
}
.select{
	width: 59%;
	padding: 7px 0px;
	border-radius: 10px;
	margin: 0px 1%;
	font-size: 23px;
	color: #666;
	text-indent: 32px;
}
/* .set{
	color:#666;
	font-size: 19px;
	margin: 9px 0px;
} */
.jl{
	margin: 4px 57px;
	margin-left: 0px;
	font-size: 25px;
	color: #666;
}
.jl select{
	border-radius: 24px;
	color: #666;
	text-align: center;
	padding: 7px 15px;
	margin-left: 50px;
	font-size: 20px;
}
.jl1{
	margin: 4px 57px;
	margin-left: 0px;
	font-size: 25px;
	color: #666;
}
.jl1 select{
	border-radius: 24px;
	color: #666;
	text-align: center;
	padding: 7px 15px;
	margin-left: 43px;
	font-size: 20px;
}
.list li{
	width: 18%;
	float: left;
	margin: 10px 0%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list li.active{
	border: 1px solid red;
}
.btn{
	width: 91%;
	display: flex;
}
.btn button{
	width: 15%;
	margin: 14px 10%;
	float: left;
	border-radius: 10px;
	text-align: center;
	padding: 11px 0px;
	font-size: 20px;
	cursor: pointer;
	border: none;
}
.btn button.add{
	background: rgb(255,218,26);
	color:#fff;
}
.btn button.Cancel{
	background:#fff;
	border:1px solid #666;
	color:#666;
}