body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
}

.horizontal-line {
  text-align: center;
  opacity: 0.5;
  margin: 10% 0 10%;
}

.horizontal-line img {
  width: 30%;
}

/* Navigation Bar */

nav {
  margin: 0;
  background-color: #1252ae;
  opacity: 0.8;
  height: 80px;
  display: flex;
  flex-direction: row;
}

nav #logo {
  width: 37%;
}

nav img {
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
}

nav #menu {
  font-family: 'Poppins';
  color: white;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin: 0 40px 0;
}

nav .selected {
  font-size: 24pt;
  font-weight: 700;
  color: #1252ae;
  background-color: white;
  padding: 0 40px 0;
  border-radius: 10px;
}

nav .unselected {
  font-size: 18pt;
  opacity: 0.5;
  color: white;
}

nav #separator {
  font-size: 18pt;
  font-weight: 100;
}

/* Hero Page */

main {
  background: no-repeat url("../assets/hero-image.png");
  background-size: cover;
}

main #main-texts {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5%;
}

main h2{
  font-family: 'Poppins';
  font-size: 32pt;
  font-weight: 400;
  margin: 0;
}

main h1 {
  font-family: 'Poppins';
  font-size: 48pt;
  font-weight: 700;
  margin: 1% 5% 1.2%;
}

main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12;
  margin: 0;
}

main #account-links {
  padding-left: 5%;
  padding-top: 18%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}

main a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins';
  font-size: 22pt;
  width: 400px;
  margin: 8px 0 8px;
  padding: 10px;
  border-radius: 19px;
  text-align: center;
}

main .log-in {
  background-color: #FFCE46;
}

main .sign-up {
  background-color: #273A5E;
}

/* Chapter 1 - Questions */

#questions {
  text-align: center;
}

#c1 {
  font-family: 'Poppins';
  font-size: 48pt;
  font-weight: 100;
  margin: 0 0 8%;
}

.bold {
  font-weight: 400;
}

#chooses {
  display: flex;
  background: no-repeat center url('../assets/background-triangle.png');
  background-size: 100% 80%;
  align-items: center;
  justify-content: center;
  height: 500px;
}

#chooses a {
  width: 50%;
  background-color: #DEEBF2;
  border-radius: 0;
  text-decoration: none;
  color: black;
  margin: 0;
  font-family: 'Poppins';
  font-size: 22pt;
  padding-top: 150px;
  padding-bottom: 150px;
}

#chooses div {
  width: 5px;
  height: 100%;
  background-color: #1252ae;
  display: inline-block;
  border-radius: 5px;
}

.choose1 {
  text-align: right;
  padding-right: 20px;
}

.choose2 {
  text-align: left;
  padding-left: 20px;
}

#chooses a:hover {
  background-color: #1252ae;
  color: white;
  transition: ease-in-out 0.2s;
}

/* Route */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#filter {
  padding-left: 30px;
}

#filter label {
  /* let the margin work using inline-block */
  display: inline-block;
  margin: 12px 5px 12px 0px;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay section {
  margin: 5% 0 5%;
  padding: 0;
}

#panel {
  padding: 10px 8px;
}

#panel {
  text-align: left;
}

#panel h3 {
  padding-left: 12px;
  margin: 12px;
  margin-top: 12px;
  font-family: 'Poppins';
}

#panel p {
  padding-left: 25px;
  margin: 12px;
}

/* Merge the btn of routes panel to a class for styling. */
.routesPanelBtn {
  display: flex;
  justify-content: space-around;
}

input[type=checkbox] {
  display: none;
}

label {
  font-size: small;
  cursor: pointer;
}

label:hover {
  background-color: #FFCE46;
  transition: ease-in-out 0.2s;
}

/* FIXME double check if this is used for other pages (except the route page) */
button {
  cursor: pointer;
  width: 30%;
  padding: 10px 0 10px;
  border: none;
  background-color: transparent;
}

/* FIXME double check if this is used for other pages (except the route page) */
.line {
  width: 2px;
  min-height: 100%;
  background-color: #FFCE46;
  display: inline-block;
  border-radius: 3px;
}

/* FIXME double check if this is used for other pages (except the route page) */
button:hover {
  background-color: #FFCE46;
  transition: ease-in-out 0.2s;
}

/* Move the lengend to the top right corner. */
#legend {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}

#legend h3 {
  padding-left: 12px;
  margin: 12px;
  margin-top: 12px;
  font-family: 'Poppins';
}

.track {
  display: flex;
  align-items: center;
  padding: 0 25px 0;
}

.track div {
  width: 50px;
  height: 5px;
  background-color: lightskyblue;
  display: inline-block;
  margin-right: 20px;
}

#slideshow {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#slideshow div {
  background-color: white;
  padding: 60px 100px;
}