body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../assets/bd1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#qs-container {
  visibility: hidden;
  position:absolute;
  top:10%;
  right:12%;
  width:35%;
  background-color: #FAFBFB;
  text-align: center;
  opacity: 80%;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Geneva', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #344F69;
}

#pop-btn:hover {
  background-color: #FFCE46;
}

#qs-container.open {
  visibility: visible;
}

#bottle img{
  float:right;
  width:4%;
  height:4%;
  padding:100px;
}

#pop-btn{
  font-family: 'poppin', sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  color: #344F69;
  text-decoration: none;
  cursor: pointer;
  width: 60%;
  border-radius: 12px;
  display: inline-block;
  padding: 0.5em;
  margin: 10px;
  border: 2px solid #555555;
  background-color: white;
}

.dropDown {
  position: absolute;
  top: 1px;
  background-color: #ccc;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.8;
}

.dropDown:hover, .dropDown:focus {
  background-color: #FFCE46;
  transition: ease-in-out 0.2s;
}

.dropdown-option {
  display: none;
  position: absolute;
  background-color: #DEEBF2;
  width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 10;
}


.dropDown a:hover {
  background-color: #FFCE46;
  transition: ease-in-out 0.2s;
}

.dropDown a {
  font-family: 'Poppins';
  font-size: 16pt;
}

.dropdown-option a {
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.music{
    border-radius: 15px;
    background-color: #DEEBF2;
    display: flex;
    position: absolute;
    top: 38%;
    min-width: 300px;
    padding: 10px 20px;
    margin: 100px 0;
    opacity: 0.8;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.music section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music h4 {
  font-family: 'Poppins';
  font-size: 16pt;
  margin: 10px;
}

.title {
  font-size: 20px;
  display: flex;
  text-align: center;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.action-btn{
  background-color: #deebf2;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
  border: 0;
}

.action-btn :hover {
  opacity: 0.8;
  transition: ease-in-out 0.2s;
}

.hideAll {
  position: absolute;
  top: 1px;
  right: 20px;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  border: 0;
}
.hideAll i:hover {
  opacity: 0.6;
}

  /* .hideAll:hover + .hide {
    display: block;
  }
  .hide {
    display: none;
  } */

#pauseRiding {
  display: flex;
  position: absolute;
  left: 42%;
  bottom: 8%;
  background-color: #FBA100;
  font-size: 3em;
  border-radius: 50px;
  cursor: pointer;
}

#lastStop {
  display: flex;
  position: absolute;
  left: 35%;
  bottom: 8%;
  background-color: #FBA100;
  font-size: 3em;
  border-radius: 50px;
  cursor: pointer;
}

#stop {
  display: flex;
  position: absolute;
  left: 49%;
  bottom: 8%;
  background-color: #FBA100;
  font-size: 3em;
  border-radius: 50px;
  cursor: pointer;
}

#nextStop{
  display: flex;
  position: absolute;
  left: 56%;
  bottom: 8%;
  background-color: #FBA100;
  font-size: 3em;
  border-radius: 50px;
  cursor: pointer;
}

#pauseRiding i:hover {
  opacity: 0.8;
}

#lastStop i:hover {
  opacity: 0.8;
}

#stop i:hover {
  opacity: 0.8;
}

#nextStop i:hover {
  opacity: 0.8;
}

.mapbox {
  position: fixed;
  width: 400px;
  height: 320px;
  text-align: center;
  bottom: 1%;
  background-color: rgba(0,0,0,0.4); /* opacity */
}
.dropdown-option button {
  padding: 2em 2em;
}
/* mapPopUp */
#mapImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#mapImg:hover {opacity: 0.7;}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6); /* opacity */
}

/* Modal image */
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  max-width: 650px;
}

/* Caption */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 650px;
  text-align: center;
  padding: 10px 0;
  height: 150px;
}

/* Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#stat {
  /* background-color: #0d84c4; */
  background-color: #deebf2;
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 30px 0;
  font-family: 'Poppins';
}

#stat div {
  display: flex;
  flex-direction: column;
}

#stat p {
  padding-left: 10px;
  margin: 5px;
}

/* shadow cyclist*/
.shadowcycling {
  display: none;
  position: fixed;
  z-index: 11;
  left: 9%;
  top: 2%;
  width: 80%;
  height: 90%;
  background-color: rgb(246, 244, 244);
}
.left{
	width:49%;
	float:left;
	padding-top:100px;
}
.left img{
	margin-top:80px;
}
.right{
	width:49%;
	float:right;
	padding-top:100px;
}
h1{
	margin:40px 0px;
	text-align: center;
	font-size:50px;
	letter-spacing: 2px
}
h1 span{
	color:rgb(255,218,26);
}
.select{
	width:96%;
	padding:20px 0px;
	border-radius:10px;
	margin:20px 2%;
	font-size:30px;
	color:#666;
	text-indent:30px;
}
.set{
	color:#666;
	font-size:20px;
	margin:20px 0px;
}
.speed{
	margin:20px 20px;
	font-size:30px;
	color:#666;
}
.speed select{
	border-radius:25px;
	color:#666;
	text-align: center;
	padding:15px 20px;
	margin-left:50px;
	font-size:20px;
}
.list computer{
	width:18%;
	float:left;
	margin:20px 1%;
}
